body {
  background-image: url('pexels-aaditya-arora-592753.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
p
{color:white;
text-align: right;
}
h1{text-align: center;}
table,th, td
{color:white;
border: 2px solid white;
width:40px;
}
.center
{margin-left:auto;
margin-right:auto;}
* {
box-sizing: border-box;
}

.column {
float: left;
width: 50%;
padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
content: "";
clear: both;
display: table;
}